.App{
 height: 100vh;
 width: 100vw;
 background-color: rgba(149, 149, 71, 0.158);
}

.login-form{
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  
  box-shadow: 4px -6px 43px -13px rgba(0,0,0,0.6);
}
.input-email{
  width: 285px;
  margin-left: 19px;
}

.input-password{
  width: 290px;
  margin-left: -8px;
}


h1{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  color: #000;
  
}

.formGropu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  
}

.table{
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  
}

.container{
  width: 100vw;
  height: auto;
  

}